body {
    background: #f7f7f7;
    font-size: 14px;
    line-height: normal;
}

#menu-head {
    background: #fff;
    border-radius: 0;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#logo {
    background: url("logo.png");
    width: 147px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    text-indent: -9999px;
}

.form-control, .form-control:hover, .form-control:focus, .form-control:active {
    box-shadow: none;
}

.no-border {
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.text-red {
    color: #e74c3c;
}
.text-blue {
    color: #3498db;
}

.action a {
    margin: 0 0 0 10px;
}

#notes-list .list-group-item {
    border-radius: 0;
}
#notes-list .input-edit {
    height: 38px;
    padding: 0px 15px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #ddd;
    outline: 0;
    margin-bottom: -1px;
}

.note-text {
    margin-top: 0;
}

.input-note-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    color: #3498db;
}
